<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Sistem Pakar Diagnosa Penyakit Gigi dan Mulut</title>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<!-- Custom stlylesheet -->
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
   

</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Diagnosa untuk: {{ name }}</h1>
			</div>
			<h2>Apakah {{ pertanyaan }}?</h2>
			<form action = "{{ link }}result" method = "POST" class="notfound-search">
				<input type="radio" id="ya" name="pilihan" value="ya">
            <label for="ya">Ya</label>
            <input type="radio" id="tidak" name="pilihan" value="tidak">
            <label for="tidak">Tidak</label><br>
				<button type="submit" value = "submit" >Submit</button>
			</form>
			<!-- <a href="#"><span class="arrow"></span>Return To Homepage</a> -->
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
